/* media screen request size */
/* Styling for Desktop Size*/
@media all and (min-width: 520px) {
  body {
    margin: 0 auto;
    height: auto;
    background-color: rgba(0 , 0, 0, 1);
    font-family: 'Lato', sans-serif;
    font-weight: 100;
  }
  header {
    height: 100px;
    width: 40%;
    margin-left: 7.5%;
    margin-top: 50px;
    display: inline-block;
    position: fixed;
    font-size: 2em;
    z-index: 10;
  }
  .logo {
    height: auto;
    width: auto;
    display: inline-block;
  }
  .internalLogo {
    background-image:image("dist/assets/images/logo.png");
    background-size: 200px;
    margin-bottom: 20px;
  }
  .mainNav {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 200;
  }

.about_me_bg{
  background-image: url("../public/assets/images/about_me_bg.jpg");
  height: 300px;
  position: fixed;
  top: 0;
  z-index: -5;
}

  footer {
    box-sizing: border-box;
    height:40px;
    left: 0;
    right: 0;
    bottom: 40px;
    position: fixed;
    z-index: 1;
  }
  .copyright-notice {
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 200;
    width: 85%;
    text-align: left;
    color: RGBA(102, 102, 102, 1.00);
    position: fixed;
    z-index: 1;
  }
  nav ul li {
    list-style-type: none;
  }
  ul {
    padding-left: 0;
  }
  .headerlink {
    text-decoration: none;
    color: #fff;
    padding-left: 0;
    font-weight: 100;
    letter-spacing: .05em;
    line-height: 1.75em;
  }

  .secondary_nav{
    font-size: .75em;
    text-decoration: underline;
  }

  .lowernav {
    font-size: .5em;
    text-decoration: underline;
  }
  #spreader {
    padding-top: 10px;
    display: inline-block;
    text-decoration: underline;
    font-weight: 200;
  }
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .header-link-container {
    width: calc(100% - 112px);
    float: right;
    text-align: right;
    display: inline-block;
    margin-top: 10px;
  }
  .familyimages,
  .maternity-photos,
  .natureimages,
  .special {
    width: 70%;
    margin-left: 31%;
    /* display: inline-block; */
    position: absolute;
    margin-top: 130px;
  }
  .family-page-photo,
  .nature-page-photo,
  .main-index,
  .maternity-img {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 35px;
  }
  .main-index-img {
    width: 100%;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .appoint {
    margin-top: 35px;
    margin-left: 64%;
    position: fixed;
    z-index: 1;
  }

  .appoint img{
    max-width: 85%;
  }
  /*.topappoint {
    padding-top: 5px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
    margin-bottom: 7px;
    font-size: 2em;
    font-weight: 100;
  }*/
  #top-photo {
    margin-top: 110px;
  }
  .portfolio-index-img {
    width: 100%;
    position: fixed;
    z-index: -1;
  }
  .portfolio-heading {
    height: 800px;
    width:80%;
    margin-top: 110px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .pagebreak {
    /*width: 67%;
    background-color: RGBA(59, 136, 155, 1.00);
    height: 2px;*/
    display: none;
  }
  .copyright-page-break {
    width: 50%;
  }
  .about-myself {
    text-align: right;
    text-decoration: underline;
  }
  .about-me-intro {
    display: inline-block;
    margin-top: 230px;
    margin-left: 28%;
    margin-right: 8%;
    background-color: RGBA(0, 0, 0, .50);
    z-index: 5;
    position: fixed;
    bottom: 187px;
    box-sizing: border-box;
    padding: 1% 5%;
  }

  .about-me-intro p{
    color: #fff;
    line-height: 2.3;
    font-family: Georgia, serif;
    font-size: 1.1em;

  }

  h2{
    font-size: 1.2em;
    display: inline-block;
    vertical-align: top;
  }

  input{
    -webkit-appearance: none;
    width: 55%;
    height: 35px;
    border: none;
    font-size: 1em;
    text-indent: 10px;
    float: right;
    color: #444;
  }

  textarea{
    -webkit-appearance: none;
    border: none;
    width: 100%;
    font-size: 1em;
    padding: 2%;
    box-sizing: border-box;
  }

  button{
    -webkit-appearance: none;
    background: transparent;
    border: solid 2px #fff;
    width: 35%;
    /* text-align: center; */
    font-size: 1em;
    padding: 8px;
    margin-top: 15px;
    color: #fff;
    margin-left: 65%;
  }

  select{
    -webkit-appearance: none;
    height: 36px;
    width: 55.5%;
    background: #fff;
    border-radius: 0;
    border: none;
    float: right;
    color: #bcbcbc;
    text-indent: 10px;
    font-size: 1em;
  }

  .booking-information {
    color: #fff;
    background-color: RGBA(59, 136, 155, 1);
    width: 60%;
    margin-right: 10%;
    z-index: 2;
    box-sizing: border-box;
    padding: 3% 5%;
    margin-top: 85px;
    float: right;
  }
  .booking-header {
    width: 65%;
    margin-left: 27.5%;
    margin-top: 0;
    color: RGBA(102, 102, 102, 1.00);
    font-weight: 100;
  }
  textarea {

    resize: none;
  }

}
/* Styling for Mobile Size*/

/*@media all and (max-width: 519px) {
