<header class="">
  {{#link-to "index" class="headerlink"}}
  <div class="logo">
    <div class="internalLogo">
      <img src="assets/images/logo.png" alt="" />
    </div>
  </div>
  {{/link-to}}
  <nav>
    <ul class="mainNav">
      <li>{{#link-to "about" class="headerlink"}}About Me{{/link-to}}</li>
      <li>{{#link-to "portfolio.index" class="headerlink"}}My Work{{/link-to}}</li>
    </ul>
  </nav>
</header>
<body>
  <div class="about-me-intro">
    <p>My name is Emelee Liggett and I have been interested in photography for many years. I have always been the one walking around with the camera on vacations, family events, and outings so a natural step was to take my passion and offer it to others. Of all genres of photography, maternity and newborn would be my absolute favorite followed closely by those precious toddler years. I also enjoy capturing photos of families as they interact, engagement sessions, and special events near the holidays. As a hobby I also photograph the beauty of nature, my three children, and of course the many cats we have living with us. At this time I photograph on location and employ the use of natural lighting whenever possible. I look forward to getting to know you and capturing those special moments in you and your family's life.</p>
  </div>
  <div class="about_me_bg">
    <img class="main-index-img" src="assets/images/about_me_bg.jpg" alt="" />
  </div>
  {{#link-to "booking" class="headerlink" id="spreader"}}
    <div class="appoint">
      <img src="assets/images/button.png" alt="" />
    </div>
  {{/link-to}}
</body>
<footer>
  <p class="copyright-notice">
    <i class="fa fa-copyright"></i> 2017 Emelee's Photography
  </p>
</footer>
{{outlet}}
