<header class="">
  <div class="logo">
    <div class="internalLogo">
      <img src="assets/images/logo.png" alt="" />
    </div>
  </div>
  <nav>
    <ul>
      {{#link-to "about" class="headerlink"}}About Me{{/link-to}}
      <li>{{#link-to "portfolio.index" class="headerlink"}}My Work{{/link-to}}</li>
    </ul>
  </nav>
</header>
<body>
  <div class="image-opacity">
  <img class="main-index-img" src="assets/images/logo.png" alt="" />
  </div>
</body>
<footer>
  <p class="copyright-notice">
    <i class="fa fa-copyright"></i> 2017 Emelee's Photography
  </p>
</footer>
{{outlet}}
