<header>
  <div class="logo">
    <div class="internalLogo">
      <img src="assets/images/logo.png" alt="" />
    </div>
  </div>
  <nav>
    <ul>
      <li>{{#link-to "portfolio.family" class="headerlink"}}Family{{/link-to}}</li>
      <li>{{#link-to "portfolio.mn" class="headerlink"}}Maternity{{/link-to}}</li>
      <li>{{#link-to "portfolio.nature" class="headerlink"}}Nature{{/link-to}}</li>
      <li>{{#link-to "portfolio.special-event" class="headerlink"}}Special Events{{/link-to}}</li>
    </ul>
  </nav>
</header>
<footer>
  <p class="copyright-notice">
    <i class="fa fa-copyright"></i> 2017 Emelee's Photography
  </p>
</footer>
{{outlet}}
