<header class="">
  {{#link-to "index" class="headerlink"}}
  <div class="logo">
    <div class="internalLogo">
      <img src="assets/images/logo.png" alt="" />
    </div>
  </div>
  {{/link-to}}

  <nav>
    <div class="lowernav">
      {{#link-to "portfolio.family" class="headerlink"}}Family{{/link-to}}
    </div>
    <div class="lowernav">
      {{#link-to "portfolio.mn" class="headerlink"}}Maternity{{/link-to}}
    </div>
    <div class="lowernav">
      {{#link-to "portfolio.nature" class="headerlink"}}Nature{{/link-to}}
    </div>
    <div class="lowernav">
      {{#link-to "portfolio.special-event" class="headerlink"}}Special Events{{/link-to}}
    </div>
  </nav>

</header>
<body>
  <div class="image-opacity">
  <img class="main-index-img" src="assets/images/edit-8320.jpg" alt="" />
  </div>
  {{#link-to "booking" class="headerlink" id="spreader"}}
  <div class="appoint">
      <p class="topappoint">Book an</p>
      <p class="botappoint">Appointment</p>
  </div>
  {{/link-to}}
</body>
<footer>
  <p class="copyright-notice">
    <i class="fa fa-copyright"></i> 2017 Emelee's Photography
  </p>
</footer>
{{outlet}}
