<header class="">
  {{#link-to "index" class="headerlink"}}
  <div class="logo">
    <div class="internalLogo">
      <img src="assets/images/logo.png" alt="" />
    </div>
  </div>
  {{/link-to}}
  <nav>
    <div class="">
      {{#link-to "about" class="headerlink"}}About Me{{/link-to}}
    </div>
    <div class="">
      {{#link-to "portfolio.index" class="headerlink"}}My Work{{/link-to}}
    </div>
    <div class="lowerNav">
      {{#link-to "portfolio.family" class="headerlink secondary_nav"}}Family{{/link-to}}
    </div>
    <div class="lowerNav">
      {{#link-to "portfolio.mn" class="headerlink secondary_nav"}}Maternity{{/link-to}}
    </div>
    <div class="lowerNav">
      {{#link-to "portfolio.nature" class="headerlink secondary_nav"}}Nature{{/link-to}}
    </div>
    <div class="lowerNav">
      {{#link-to "portfolio.special-event" class="headerlink secondary_nav"}}Special Events{{/link-to}}
    </div>
  </nav>
</header>
<body>
  <div class="image-opacity">
    <img class="main-index-img" src="assets/images/edit-8320.jpg" alt="" />
  </div>
  {{#link-to "booking" class="headerlink" id="spreader"}}
    <div class="appoint">
      <img src="assets/images/button.png" alt="" />
    </div>
  {{/link-to}}
</body>
<footer>
  <p class="copyright-notice">
    <i class="fa fa-copyright"></i> 2017 Emelee's Photography
  </p>
</footer>
{{outlet}}
